@import "tailwindcss";

@layer base {
  html {
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
  }

  img, video, canvas, iframe {
    max-width: 100%;
    height: auto;
  }
}

@keyframes slideRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-slideRight {
  animation: slideRight 0.25s ease-out forwards;
}
